* {
  margin: 0;
  padding: 0%;
  list-style-type: none;
}

@media (min-width: 240px) {
  body {
    height: 100vh;
  }
  body .portada img {
    height: 200px;
  }
  body .portada header .logo-empresa {
    width: 0;
    height: 0;
  }
  body .portada header .navbar {
    margin-top: -45px;
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(101, 194, 234);
  }
  body .portada header .navbar .navbar-toggler {
    width: 80px;
  }
  body main h1 {
    padding-top: 30px;
    padding-bottom: 30px;
    color: "rgb(97, 97, 97);";
  }
  body main .nosotros {
    background-color: rgb(0, 129, 124);
    color: rgb(255, 255, 255);
    padding-bottom: 50px;
  }
  body main .primer-propaganda {
    margin-top: -40px;
    margin-bottom: -40px;
    padding-bottom: 40px;
    text-align: center;
    background-color: rgb(213, 213, 204);
  }
  body main .primer-propaganda .tu-casa {
    width: 180px;
    margin-bottom: 30px;
  }
  body main .primer-propaganda .video-juan-carlos {
    width: 100%;
  }
  body main .primer-propaganda .primer-lista {
    font-size: 1.2rem;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  body main .primer-propaganda .primer-lista li {
    width: auto;
  }
  body main .secciones {
    color: "rgb(97, 97, 97);";
    border-top: solid 1px rgb(0, 169, 188);
    margin-top: 40px;
    padding-top: 40px;
  }
  body main .secciones section article {
    margin-top: 50px;
  }
  body main .secciones section article .card {
    text-align: center;
    box-shadow: 2px 2px 6px 5px rgba(73, 73, 73, 0.2);
    transition-property: transform;
    transition-duration: 0.4s;
  }
  body main .secciones section article .card:hover {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  body main .contacto-imagenes {
    color: rgb(249, 250, 250);
    text-align: center;
    padding: 50px 0px;
    background-color: rgb(0, 150, 145);
    margin-bottom: -41px;
  }
  body main .contacto-imagenes img {
    width: 50px;
  }
  body main .ubicacion {
    padding: 50px 0px;
    text-align: center;
  }
  body main .ubicacion iframe {
    border-radius: 30px;
  }
  body main .ubicacion img {
    margin-bottom: 10px;
  }
  body main .ubicacion h5 {
    margin-bottom: 15px;
  }
  body main .ubicacion h6 {
    margin-bottom: 30px;
  }
  body main .tercer-propaganda video {
    margin-top: 20px;
  }
  body main .whatsapp_flotante {
    position: fixed;
    right: 3px;
    bottom: 3px;
  }
  body footer {
    text-align: center;
    width: 100%;
    height: auto;
  }
  body footer .seguinos {
    background-color: rgb(25, 179, 173);
    padding: 40px;
  }
  body footer .iconos-sociales {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(0, 150, 145);
  }
  body footer .iconos-sociales img {
    width: 30px;
  }
  body footer .copy {
    background-color: rgb(0, 129, 124);
    padding: 50px;
    color: rgb(238, 247, 255);
  }
  body footer .copy img {
    width: 20px;
  }
}
/* ------ Media Querie 500px ----------*/
@media (min-width: 500px) {
  body .portada img {
    height: 300px;
  }
}
main .primer-propaganda {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main .primer-propaganda .video-juan-carlos {
  width: 350px;
}
main .primer-lista {
  display: flex;
  flex-direction: column;
  align-items: start;
}
main .primer-lista li {
  width: auto;
}

/* Media Querie 768px */
@media (min-width: 768px) {
  body .portada img {
    height: 400px;
  }
  body main .carousel img {
    height: 500px;
  }
  body main .primer-propaganda {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  body main .primer-propaganda .video-juan-carlos {
    width: 900px;
  }
  body main .primer-lista {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  body main .primer-lista li {
    width: auto;
  }
  body main .parrafo {
    font-size: 1.5rem;
  }
  body main .segunda-propaganda video {
    height: 400px;
  }
  body main .seccion-contacto {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
  }
}
@media (min-width: 240px) {
  main .modelos {
    color: rgb(30, 30, 30);
    padding: 30px;
    border-bottom: 1px solid rgb(101, 194, 234);
  }
  main section h5 {
    margin-top: 30px;
  }
  main section .lista-modelos {
    list-style-type: none;
  }
  main .img-modelos div {
    margin-top: 30px;
  }
  main .img-modelos div img {
    box-shadow: 2px 2px 6px 5px rgba(73, 73, 73, 0.2);
    border-radius: 10px;
    transition-property: transform;
    transition-duration: 0.4s;
  }
  main .img-modelos div img:hover {
    transform: scale3d(1.2, 1.2, 1);
  }
}

/*# sourceMappingURL=style.css.map */
